@import url('https://fonts.cache.domain.lan/css?family=Source+Code+Pro');

textarea {
    margin: 0;
    border-radius: 0;
}

.code {
    font-size: 17px;
    font-weight: 200;
    font-family: 'Source Code Pro', monospace;
}

#main-container {
    margin-top: 5em;
}

#login-container {
  margin-top: 15em;
  margin-left: 150em;
}

#domain {
    display: none;
}

@media only screen and (max-width: 666px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}
